1 VERSIONINFO
 FILEVERSION 7,6,0,5
 PRODUCTVERSION 7,6,0,5
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Monolith Productions"
            VALUE "FileDescription", "Matrix Online Launcher"
            VALUE "FileVersion", "7.6.0.5"
            VALUE "InternalName", "launcher"
            VALUE "LegalCopyright", "Copyright (C) Warner Bros. Entertainment Inc."
            VALUE "OriginalFilename", "launcher.exe"
            VALUE "ProductName", "The Matrix Online"
            VALUE "ProductVersion", "7.6.0.5"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
1 ICON "src/app_icon.ico"
1 RT_MANIFEST "src/app.manifest"

STRINGTABLE
BEGIN
    1, "!This program cannot be run in DOS mode."
    2, "ARich"
    3, ".text"
    4, "`.rdata"
    5, "@.data"
    6, "STLPORT_"
    7, ".rsrc"
    8, "@.reloc"
    9, "Q%RPQ"
    10, "hh%M"
    11, "F Rj"
    12, "5p%M"
    13, "FX;M"
    14, "Vd;U"
    15, "Fh;E"
    16, "9~`t#"
    17, "F j0P"
    18, "8SVW"
    19, "_^[d"
    20, "SQRj"
    21, "5P4M"
    22, "PQVW"
    23, "$Ph$"
    24, "RPhd"
    25, "tlHtiS"
    26, "VQRj"
    27, "SVWj"
    28, "5$'M"
    29, "5`=M"
    30, "5d=M"
    31, "5h=M"
    32, "A0+A4"
    33, "hp.M"
    34, "u,SW"
    35, "0SVW"
    36, ">RQPh"
    37, "N PSh"
    38, "jKSS"
    39, "u59E"
    40, "t\"9~tu"
    41, "9~tu"
    42, "_^[]"
    43, "QSVW"
    44, "j SSSSSSSh"
    45, "SSSj"
    46, "SWj0P"
    47, "VWt["
    48, "FdHW"
    49, "NXu%"
    50, "NXs%"
    51, "8^_t1"
    52, "hp0M"
    53, "hp,M"
    54, "8_Tt"
    55, "w{to"
    56, "wDt!-"
    57, "wUtL"
    58, "uvju"
    59, "Hu%h"
    60, "SSRh"
    61, "_^[d"
    62, "=`,M"
    63, "5\\,M"
    64, "tpVh"
    65, "taVh"
    66, "50%M"
    67, "t$Ph<"
    68, "h@(M"
    69, "Qh@(M"
    70, "90~>S"
    71, "98~`S"
    72, "t-hH"
    73, "=0%M"
    74, "hH+M"
    75, "=4=M"
    76, "PQPQ"
    77, "Wj0P"
    78, "h((("
    79, "hCT#"
    80, "Wjdjd"
    81, "5|5M"
    82, "=|5M"
    83, "t&SQ"
    84, "tX9A t"
    85, "9B t"
    86, "E Pj"
    87, "N\\+NT"
    88, "V`+VX"
    89, "A VW"
    90, "A Rh"
    91, "A Rh,"
    92, "|wSWh"
    93, "_^[wS"
    94, "[ PS"
    95, "VWu6"
    96, "C<;A<"
    97, "N hR"
    98, "Sj0R"
    99, "N Pj"
    100, "~`;~Xt"
    101, "_[^]"
    102, "ChA;"
    103, "~8;sXt"
    104, "?;~h"
    105, "F QQh"
    106, "FhA;"
    107, "G@PQV"
    108, "RPQj"
    109, "RPQP"
    110, "F@Pj"
    111, "F<RPS"
    112, "V,h"
    113, "PQRj"
    114, "QPRj"
    115, "FDvy"
    116, "jdRP"
    117, "~$Phh"
    118, "SWh\\"
    119, "54=M"
    120, "8^ tRh"
    121, "RPVh0"
    122, "QSRPh"
    123, "RPVQ"
    124, "SQRh"
    125, "PVh"
    126, "hP%M"
    127, "%P%M"
    128, "hT%M"
    129, "%T%M"
    130, "h1/A"
    131, "hX%M"
    132, "%X%M"
    133, "h..A"
    134, "h0%M"
    135, "%0%M"
    136, "hv.A"
    137, "h8%M"
    138, "%8%M"
    139, "h<%M"
    140, "%<%M"
    141, "hM.A"
    142, "hD%M"
    143, "%D%M"
    144, "h@.A"
    145, "h@%M"
    146, "%@%M"
    147, "hH%M"
    148, "%H%M"
    149, "hL%M"
    150, "%L%M"
    151, "h(%M"
    152, "%(%M"
    153, "h!.A"
    154, "h,%M"
    155, "%,%M"
    156, "h3.A"
    157, "h4%M"
    158, "%4%M"
    159, "IVxZSW"
    160, "GG@@"
    161, ";Hts"
    162, "PSSht"
    163, "uBh\\"
    164, "=@=M"
    165, "G9=@=M"
    166, "QRPh<>L"
    167, "t5;G"
    168, "0Nx#"
    169, "t1;F"
    170, "[_^]"
    171, "tMhP3A"
    172, "^_[]"
    173, "hP3A"
    174, "^[_]"
    175, "5T=M"
    176, "=T=M"
    177, "j PQ"
    178, "hp=M"
    179, "QRWS"
    180, "[t\"W"
    181, "WVRP"
    182, "I4QVHPR"
    183, "VWte"
    184, "RWPh"
    185, "VRWP"
    186, "0^[]"
    187, "8+N"
    188, "u*8]"
    189, "PQh"
    190, ">\"tg"
    191, "<#t:<=t6"
    192, ">=t!"
    193, "<#t:"
    194, "<\"utF"
    195, "<\"tQ"
    196, ">\"tD"
    197, "<#t#"
    198, ";[u("
    199, "~3j]W"
    200, "F0^[]"
    201, "uC_^3"
    202, "F1_^[]"
    203, "<0|o<9"
    204, "tB<.u>B"
    205, "t <0|;<9"
    206, "_uu_^@[]"
    207, "$_^[]"
    208, "~&SW"
    209, "PVQR"
    210, "PSQV"
    211, "QPSR"
    212, "I4Qh"
    213, "G0t7V"
    214, ";~8vN"
    215, "F4t."
    216, "QVWR"
    217, "uK9M"
    218, "FTPhP"
    219, "wYtP="
    220, "w)t ="
    221, "5T>M"
    222, "SQRS"
    223, "PRhL"
    224, "SSSSQj"
    225, "SSSSRj"
    226, "SWt9"
    227, "QRhp"
    228, "PQh0"
    229, "8_[^]"
    230, "h``J"
    231, "h@`J"
    232, "5H@M"
    233, "5`@M"
    234, "=P@M"
    235, "=h@M"
    236, "5d@M"
    237, "Wu,3"
    238, ";f9u"
    239, "hpHM"
    240, "&Vh`"
    241, "hp@M"
    242, "vDVW"
    243, "tASV"
    244, "v/SW"
    245, "^ RP"
    246, "N PQ"
    247, "^0WP"
    248, "hPMM"
    249, "@SVW"
    250, "j0hP"
    251, "~-SW"
    252, "Wd+W`u"
    253, "Od+O`t*"
    254, "PQSW"
    255, "RWPQ"
    256, "RQPP"
    257, "QVWj"
    258, "t!hx"
    259, "F$_["
    260, "RPShP"
    261, "RPSh"
    262, "u%j@h8"
    263, "SVj"
    264, "PShd"
    265, "t8;q"
    266, "QWRVPS"
    267, "t%:E u"
    268, "VSRP"
    269, ":E u"
    270, "BCf;u"
    271, "tE[H_"
    272, "0[_^]"
    273, "Pj-j+"
    274, "U$j-j+R"
    275, "E PQRV"
    276, ":E,u]P"
    277, "RSVQP"
    278, "t@H["
    279, "0_[^]"
    280, "tJH^"
    281, "0_^[]"
    282, "RSPQ"
    283, "tKI^"
    284, "R(j-"
    285, "PVSQ"
    286, "XQPV"
    287, "f;E(t"
    288, "f;E,u^P"
    289, "P0f="
    290, "U VP"
    291, "M$QR"
    292, "j SSQj"
    293, "E#t!"
    294, "VPAQ"
    295, "QPVWR"
    296, "vTSW"
    297, "RPQV"
    298, "j-j+S"
    299, "QSWV"
    300, "RSWV"
    301, "u%j."
    302, "EuPje"
    303, "j-j+"
    304, "0_^["
    305, ":E t"
    306, ":E$u"
    307, "R(j+"
    308, "R(j0"
    309, "] t4"
    310, "RPQS"
    311, "PSWV"
    312, "QRWV"
    313, "uTje"
    314, "f;E t"
    315, "f;E$u"
    316, "5$sM"
    317, "5tnM"
    318, "5LiM"
    319, "5|iM"
    320, "h<sM"
    321, "5,nM"
    322, "5<nM"
    323, "5\\iM"
    324, "5liM"
    325, "5LnM"
    326, "QRPV"
    327, "WPSV"
    328, "E$PSV"
    329, "U(j+R"
    330, "U j-j+R"
    331, "PQRSV"
    332, "t)@I"
    333, ":E,u+P"
    334, "RPQSWV"
    335, "~TWV"
    336, "s@WP"
    337, "U(PQR"
    338, "RSPQW"
    339, "PQRS"
    340, "f;E,u3P"
    341, "PQRSWV"
    342, "M$8N"
    343, ";U u"
    344, "P(;u"
    345, "U$f9V"
    346, "Wt-;N"
    347, "R0f="
    348, "^x^["
    349, "t+VW"
    350, "t-f="
    351, "^H^["
    352, "8^gt"
    353, ";Ntu"
    354, "8^7t"
    355, "N`QP"
    356, "^\\^["
    357, ";NDu"
    358, "_^H["
    359, "+Vt;"
    360, "ua9}"
    361, "[_^J#"
    362, "[_^I#"
    363, "ur@;"
    364, "FgS3"
    365, "8^hW"
    366, "^it:"
    367, "8^gt'8^jt\""
    368, "+VD;"
    369, "ue9}"
    370, "[_^H#"
    371, "FDRP"
    372, "F7S3"
    373, "8^8W"
    374, "^9t="
    375, "8^:t"
    376, "WRPQ"
    377, ";VDtv"
    378, "+^D;"
    379, ";~x}L;"
    380, "_^f3"
    381, "FT ^"
    382, "R(_f"
    383, "FT 8"
    384, "8^0u"
    385, "h| K"
    386, "Rhy K"
    387, "hd K"
    388, "PhY K"
    389, "hL K"
    390, "@PVW"
    391, "=0tM"
    392, "5HtM"
    393, "QRh@!K"
    394, "SVt9"
    395, "PQh`\"K"
    396, "8^[_"
    397, "Phx&K"
    398, "PQSh"
    399, "F8PW"
    400, "PQh(%K"
    401, "~@QP"
    402, "PQh`$K"
    403, "_^["
    404, "hp#K"
    405, "h #K"
    406, "=PtM"
    407, "h,'K"
    408, ";7tV"
    409, "RPWh"
    410, "R,_3"
    411, ";F4u"
    412, "h5)K"
    413, "5LtM"
    414, "Php*K"
    415, "Sh8)K"
    416, "4_^3"
    417, "QRhP+K"
    418, "N,tm="
    419, "QRh(.K"
    420, "SPh -K"
    421, "ShX,K"
    422, "4[_3"
    423, "PQhp0K"
    424, "A0*A1"
    425, "VWt9"
    426, "Wh`4K"
    427, "QhD3K"
    428, "PShP8K"
    429, "Qhp7K"
    430, "hh7K"
    431, "hHvM"
    432, "VQRP"
    433, "hP7K"
    434, "hD1K"
    435, "hD7K"
    436, "{h<7K"
    437, "=LvM"
    438, "RWSPQ"
    439, "PhX6K"
    440, "hL6K"
    441, ":;=`vM"
    442, "PQhP5K"
    443, "=`vM"
    444, "h(:K"
    445, "QRPh"
    446, "ShH9K"
    447, "_^[t(h"
    448, "PQSh0=K"
    449, "QRShX<K"
    450, "hX;K"
    451, "htvO"
    452, "wEt<="
    453, "54wO"
    454, "=<wO"
    455, "58wO"
    456, "5 wO"
    457, "W QR"
    458, "V$;U"
    459, "N8;N(uA"
    460, "F8;F(u"
    461, "Phq>K"
    462, "hX>K"
    463, "F\\ >K"
    464, "WRQh"
    465, "Q8;Q(u"
    466, "Sh@?K"
    467, "VD;V4"
    468, "h\\AK"
    469, "VD;V4uE"
    470, "PSWh"
    471, "Wh`@K"
    472, "h(@K"
    473, "RD^]"
    474, "RL^]"
    475, "PL9]"
    476, "WT_^]"
    477, "hPlJ"
    478, "h`lJ"
    479, "F0WSP"
    480, "VHSu"
    481, "Ph'FK"
    482, "h FK"
    483, "h4FK"
    484, "W4_^]"
    485, "t.SVW"
    486, ">hXRK"
    487, "P@RVj"
    488, "H QP"
    489, "^ ^["
    490, "^(^["
    491, "^0^["
    492, "_^[t"
    493, "h|TK"
    494, "SWuF"
    495, "h(UK"
    496, "VWu<"
    497, "h\\UK"
    498, "hXUK"
    499, "hHUK"
    500, "h@UK"
END

2000 BITMAP "src/embedded_bmp_000a9ded.bmp"